<div>
  <h1>{{title | capitalize}}</h1>
  <!-- TODO Create Component -->
  <app-tile [data]="statistique"></app-tile>

  <div class="row text-center w-100">
    <div id='graph'></div>
<!-- Button trigger modal -->
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removeModal">Remove data for currency</button>
  </div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            Suppression Données</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Suppression de toutes les données liés à {{title | capitalize}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" (click)="removeData(title)">Supprimer</button>
        </div>
      </div>
    </div>
  </div>

  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Currency</th>
        <th scope="col">Description</th>
        <th scope="col">Balance</th>
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let history of historys | async; let i = index">
        <th scope="row">{{i}}</th>
        <td>{{history.currency}}</td>
        <td>{{history.description}}</td>
        <td>{{history.balance}}</td>
        <td>{{history.amount}}</td>
        <td>{{history.timestamps}}</td>
      </tr>      
    </tbody>
  </table>
