:host {
  text-align: center;
}
/* TODO change that, need 100% width */
.text-center {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
#container {
  width: 100%;
  margin: 2em auto;
}

.cols {
  -moz-column-count: 3;
  -moz-column-gap: 3%;
  -moz-column-width: 30%;
  -webkit-column-count: 3;
  -webkit-column-gap: 3%;
  -webkit-column-width: 30%;
  column-count: 3;
  column-gap: 1%;
  column-width: auto;
}

.box {
  margin-bottom: 1%;
  height: 100%;
  background: #BFBFBF;
}