/* You can add global styles to this file, and also import other style files */
@import "./assets/variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
.vis-text {
  color: #bebebe !important;
}
.vis-major {
  color: white !important;
}
html, body {
  height: 100%;
  background-color: $background;
  color: white;
}
